
{% extends 'base.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}

{% block body %}
    {% if programs is empty %}
        <h1>No Program for catégory :{{ category.name }}</h1>
    {% else %}
        <h1> Programe(s) dans la category : {{ category.name }}</h1>
            {% for program in programs %}
                <div  class="container m-5">
                    <p>Id :{{ program.id }} </p>
                    <p>Title : {{ program.title }}</p>
                    <p>Summary : {{ program.summary }}</p>
                    <a href="{{ path('program_show', {id : program.id}) }}">Voir sa fiche</a> <br>
                </div>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
